In [1]:
import numpy as np
import pandas as pd
import nltk
import re
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
df = pd.read_csv('netflix_titles.csv.zip')

[nltk_data] Downloading package punkt to /Users/macdelay/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/macdelay/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [2]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
from sklearn.metrics import jaccard_score
jaccard_score([1,1,1], [1,1,1], average='macro')

1.0

In [4]:
concats = df.values.tolist()
concats[1]

['s2',
 'Movie',
 '7:19',
 'Jorge Michel Grau',
 'Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato',
 'Mexico',
 'December 23, 2016',
 2016,
 'TV-MA',
 '93 min',
 'Dramas, International Movies',
 'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.']

In [5]:
jaccard_score(np.array(concats[10]).T,
              np.array(concats[100]).T,
              average = "macro")

0.043478260869565216

In [6]:
newdf = df[['type','director','country','release_year','rating']]

In [7]:
newdf.loc[newdf['release_year']<=1929,'release_year']=1920
newdf.loc[(newdf['release_year']>1929) &(newdf['release_year']<=1939),'release_year']=1930
newdf.loc[(newdf['release_year']>1939) & (newdf['release_year']<=1949),'release_year']=1940
newdf.loc[(newdf['release_year']>1949) & (newdf['release_year']<=1959),'release_year']=1950
newdf.loc[(newdf['release_year']>1959) & (newdf['release_year']<=1969),'release_year']=1960
newdf.loc[(newdf['release_year']>1969) & (newdf['release_year']<=1979),'release_year']=1970
newdf.loc[(newdf['release_year']>1979) & (newdf['release_year']<=1989),'release_year']=1980
newdf.loc[(newdf['release_year']>1989) & (newdf['release_year']<=1999),'release_year']=1990
newdf.loc[(newdf['release_year']>1999) & (newdf['release_year']<=2009),'release_year']=2000
newdf.loc[(newdf['release_year']>2009) & (newdf['release_year']<=2019),'release_year']=2010
newdf.loc[(newdf['release_year']>2019) & (newdf['release_year']<=2029),'release_year']=2020
newdf.head()

/Users/macdelay/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

      type           director        country  release_year rating
0  TV Show                NaN         Brazil          2020  TV-MA
1    Movie  Jorge Michel Grau         Mexico          2010  TV-MA
2    Movie       Gilbert Chan      Singapore          2010      R
3    Movie        Shane Acker  United States          2000  PG-13
4    Movie     Robert Luketic  United States          2000  PG-13

In [8]:
concats = newdf.values.tolist()
jaccard_score(np.array(concats[3]).T,
              np.array(concats[4]).T,
              average = "macro")

0.6666666666666666

In [9]:
jaccard_score(np.array(concats[3]).T,
              np.array(concats[2]).T,
              average = "macro")

0.1111111111111111

In [10]:
newdf.loc[1].values.tolist()

['Movie', 'Jorge Michel Grau', 'Mexico', 2010, 'TV-MA']

In [11]:
newdf['decade'] = 0
newdf.describe()

/Users/macdelay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       release_year  decade
count   7787.000000  7787.0
mean    2008.506485     0.0
std        8.900010     0.0
min     1920.000000     0.0
25%     2010.000000     0.0
50%     2010.000000     0.0
75%     2010.000000     0.0
max     2020.000000     0.0

In [12]:
i = 0
for index, row in df.iterrows():
    desc = df['description']
    wordList = re.sub("[^\w]", " ", desc[0]).split()
    concats[i] = concats[i]+wordList
    i +=1

In [13]:
concats[1]

['Movie',
 'Jorge Michel Grau',
 'Mexico',
 2010,
 'TV-MA',
 'In',
 'a',
 'future',
 'where',
 'the',
 'elite',
 'inhabit',
 'an',
 'island',
 'paradise',
 'far',
 'from',
 'the',
 'crowded',
 'slums',
 'you',
 'get',
 'one',
 'chance',
 'to',
 'join',
 'the',
 '3',
 'saved',
 'from',
 'squalor']

In [14]:
tokens = nltk.word_tokenize(desc[0])
nltk.pos_tag(tokens)

[('In', 'IN'),
 ('a', 'DT'),
 ('future', 'NN'),
 ('where', 'WRB'),
 ('the', 'DT'),
 ('elite', 'JJ'),
 ('inhabit', 'NN'),
 ('an', 'DT'),
 ('island', 'NN'),
 ('paradise', 'NN'),
 ('far', 'RB'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('crowded', 'VBN'),
 ('slums', 'NNS'),
 (',', ','),
 ('you', 'PRP'),
 ('get', 'VBP'),
 ('one', 'CD'),
 ('chance', 'NN'),
 ('to', 'TO'),
 ('join', 'VB'),
 ('the', 'DT'),
 ('3', 'CD'),
 ('%', 'NN'),
 ('saved', 'VBN'),
 ('from', 'IN'),
 ('squalor', 'NN'),
 ('.', '.')]

In [15]:
#given a movie's filtered mega-list, compare to every other, return movies with highest scores
 def Recommend(movie):
    
    return movieList